<h1>Q & A</h1>



{% if object_list %}

<div class="accordion" id="accordionExample">
  <div class="card">
  {% for list in object_list %}
    <div class="card-header" id="heading_{{forloop.counter}}">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_{{forloop.counter}}" aria-expanded="true" aria-controls="collapse_{{forloop.counter}}">
          {{list.title}}
        </button>
      </h2>
    </div>
    <div id="collapse_{{forloop.counter}}" class="collapse" aria-labelledby="heading_{{forloop.counter}}" data-parent="#accordionExample">
      <div class="card-body">
        <p>{{list.content}}</p>
        <br>
        <p>
        <input class="btn btn-success" type="button" value="수정하기" onclick="location.href='{% url 'question:question_edit' list.id %}'">
        <input class="btn btn-success" type="button" value="삭제하기" onclick="location.href='{% url 'question:question_delete' list.id%}'">
        </p>
        {% comment %} 권한 부여 줘야함 {% endcomment %}
        {%if list.answer %}
            <p>-- {{list.answer_registered}} -- </p>
            {{list.answer}}
            {% comment %} <input class="btn btn-success" type="button" value="답변 수정" onclick="location.href='{% url 'notice:answer_edit' list.id %}'">
            <input class="btn btn-success" type="button" value="답변 삭제" onclick="location.href='{% url 'notice:answer_delete' list.id%}'"> {% endcomment %}
        {% else %}
            <p>-- {{list.answer_registered}} -- </p>
            <form method="post" action="{% url 'question:answer_register' list.id %}  ">
            {% csrf_token %}
            <input required type = 'textarea' name = 'answer' placeholder="답변을 등록해주세요.">
            <input class="btn btn-success" type='submit' value="답변저장">
            </form>
        {% endif %}

      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% else %}
등록된 글이 없습니다.
{% endif %}
<a href="{% url 'notice:question_register' %}">등록하기</a>


<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>