{% extends 'base.html' %}
{% block content %}
{#    <input class="btn btn-success" type="button" value="삭제" onclick="location.href='{% url 'notice:post_delete' posts.id %}'">#}
    <input class="btn btn-success" type="button" value="작성하기" onclick="location.href='{% url 'notice:post_create'%}'">
    {% if posts %}
    <ul>
        {% for post in posts %}
            <li><a href="{% url 'notice:post_detail' post.id %}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}