<h1>검색 페이지</h1>



<form method="POST" action="{% url 'advertise:search' %}">
    {% csrf_token %}
    <input type='text' name='search_word' placeholder="찾으시는 선생님이 있으신가요?">
    <input class="button" type='submit' value="검색">
</form>

{%if object_list%}
    {% for search in object_list %}
        <li><a href="{% url 'advertise:detail' search.id%}">{{search.title}}</a></li>
        <li><a href="{% url 'accounts:teacher_datail' search.author.id %}">{{ search.author }}</a></li>
    {% endfor %}
{% else %}
    <p>검색 결과가 없습니다.</p>
{% endif %}
