{% extends 'base.html' %}
{% load static %}
{% block extra_styles %}
    <style>
        body {
            background-color: white;
        }

        input {
            width: 100%;
            margin-left: 5px;
            /* display: block; */
            margin-top: 7px;
            font-family: "Cabin Condensed";
            font-size: 13px;
            background-color: transparent;
            border-color: transparent;
        }
        input:focus {
            outline: none !important;
        }

        button {
            font-size: 18px;
            font-weight: 500;
            font-family: "Cabin Condensed";
            color: rgb(255, 255, 255);
            height: 100%;
            width: 100%;
            background-color: transparent;
            border-color: transparent;
        }
        ::placeholder {
            color: rgb(179, 179, 179);
        }

        select {
            background-color: rgb(255, 255, 255);
        }
        .texttrigger:hover .texttarget {
            color: #f9c700 !important;
            transition: 0.15s all ease;
        }

        .texttarget {
            transition: 0.25s all ease;
        }

        .menutrigger:hover .menutarget {
            display: block;
            opacity: 1;
        }

        .menutarget {
            display: none;
            opacity: 0;
            transition: 2s all ease-in-out;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content">
    <div>
    </div>
    <div>
    {% if user.is_authenticated %}
        HI {{ user.username }}
        <p><a href="{% url 'signout' %}">logout</a></p>
        <p><a href="{% url 'accounts:edit' user.id %}">내 정보 수정하기</a></p>
    {% else %}
        <div>
        {#                <form method="post" action="{% url 'home' %}">#}
        {#                    {% csrf_token %}#}
        {#                    <p>#}
        {#                        <label for="id_username"></label>#}
        {#                        <input type="text" name="username" autofocus required id="id_username" placeholder="아이디">#}
        {#                    </p>#}
        {#                    <p>#}
        {#                        <label for="id_password"></label>#}
        {#                        <input type="password" name="password" required id="id_password" placeholder="비밀번호">#}
        {#                    </p>#}
        {#                    <button type="submit">로그인</button>#}
        {#                </form>#}
        {#            <a href="{% url 'accounts:signup' %}">회원가입하러가기~</a>#}
        {#            </div>#}
        {#            </div>#}
        {#            </div>#}

        <div style="height: 800px;">
            <div class="sc-bwzfXH jNpIyI">
                <div class="row no-gutters" style="height: 160px;"></div>
            </div>
            <div class="sc-bwzfXH jNpIyI">
                <div class="row no-gutters" style="height: 50px; width: 100%; position: relative;">
                    <div style="position: absolute; left: 50%; transform: translateX(-50%);">
                        <div style="height: 460px; width: 350px; border-radius: 7px; background-color: rgb(255, 255, 255); box-shadow: rgb(196, 196, 196) 0px 0px 50px 0px;"></div>
                    </div>
                </div>
            </div>
            <div class="sc-bwzfXH jNpIyI">
                <div class="row no-gutters" style="height: 30px;">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6" style="position: relative;">
                        <div style="position: absolute; left: 50%; transform: translateX(-50%);">
                            <span style='font-size: 30px; font-family: "Cabin Condensed"; font-weight: 700; display: inline-block; color: rgb(243, 189, 39);'>꿀</span><span style='font-size: 30px; font-family: "Cabin Condensed"; font-weight: 700; display: inline-block;'>과외</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sc-bwzfXH jNpIyI">
                <div class="row no-gutters" style="height: 50px;"></div>
            </div>
            <form method="post" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="sc-bwzfXH jNpIyI">
                    <div class="row no-gutters" style="height: 50px;">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <div style="position: relative;">
                                <div style="width: 300px; height: 40px; background-color: rgb(250, 250, 250); border-radius: 0.375em; position: absolute; left: 50%; transform: translateX(-50%); border-width: 1px; border-color: rgb(231, 231, 231); border-style: solid; padding-left: 5px;">
                                    <input
                                            type="text"
                                            name="username"
                                            autofocus
                                            required
                                            id="id_username"
                                            placeholder="아이디"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc-bwzfXH jNpIyI">
                    <div class="row no-gutters" style="height: 50px; margin-top: 5px;">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <div style="position: relative;">
                                <div style="width: 300px; height: 40px; background-color: rgb(250, 250, 250); border-radius: 0.375em; position: absolute; left: 50%; transform: translateX(-50%); border-width: 1px; border-color: rgb(231, 231, 231); border-style: solid; padding-left: 5px;">
                                    <!-- <span
                                      style='margin-left: 5px; display: block; margin-top: 14px; font-family: "Cabin Condensed"; font-size: 13px; color: rgb(179, 179, 179);'
                                      >비밀번호</span
                                    > -->
                                    <input
                                            type="password"
                                            name="password"
                                            required
                                            id="id_password"
                                            placeholder="비밀번호"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sc-bwzfXH jNpIyI">
                    <div class="row no-gutters" style="height: 70px;">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6" style="border-radius: 0.375px; position: relative;">
                            <div style="width: 300px; height: 40px; position: absolute; transform: translateX(-50%); background-color: rgb(243, 189, 39); border-radius: 3px; text-align: center; left: 50%; padding-top: 2px; margin-top: 5px;">
                                <button type="submit">로그인</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="sc-bwzfXH jNpIyI">
                <div class="row no-gutters" style="height: 40px;">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6" style="border-radius: 0.375px;">
                        <div style="width: 100%; height: 100%; text-align: center; padding-top: 10px;">
                            <span style='font-size: 15px; font-weight: 400; font-family: "Cabin Condensed"; color: rgb(104, 104, 104);'>계정이 없으신가요?</span>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </div>
            <div class="sc-bwzfXH jNpIyI">
                <div class="row no-gutters" style="height: 70px;">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6" style="border-radius: 0.375px;">
                        <a href="{% url 'accounts:signup' %}"><div style="position: relative;">
                            <div style="width: 300px; height: 40px; position: absolute; left: 50%; transform: translateX(-50%); background-color: rgb(243, 189, 39); border-radius: 3px; text-align: center; padding-top: 10px;">
                                <span style='font-size: 18px; font-weight: 500; font-family: "Cabin Condensed"; color: rgb(255, 255, 255);'>회원가입</span>
                            </div>
                        </div></a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}
