@import url("https://fonts.googleapis.com/css?family=Cabin+Condensed:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Bubbler+One|Hammersmith+One");
@import url("https://fonts.googleapis.com/css?family=Cabin+Condensed:400,600,700|Ubuntu:300,300i,400,400i,500,700");
body {
  background-color: white;
}

input {
  width: 100%;
  margin-left: 5px;
  /* display: block; */
  margin-top: 7px;
  font-family: "Cabin Condensed";
  font-size: 13px;
  background-color: transparent;
  border-color: transparent;
}
input:focus {
  outline: none !important;
}

button {
  font-size: 18px;
  font-weight: 500;
  font-family: "Cabin Condensed";
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-color: transparent;
}
::placeholder {
  color: rgb(179, 179, 179);
}

select {
  background-color: rgb(255, 255, 255);
}
.texttrigger:hover .texttarget {
  color: #f9c700 !important;
  transition: 0.15s all ease;
}

.texttarget {
  transition: 0.25s all ease;
}

.menutrigger:hover .menutarget {
  display: block;
  opacity: 1;
}

.menutarget {
  display: none;
  opacity: 0;
  transition: 2s all ease-in-out;
}

/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

    .head-desc {
      bottom: -10px !important;
    }
  } */