{% extends 'base.html' %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="field-input">
            <label class="col-md-3" for="id_class_name">Class 이름</label> <input class="col-md-9" type="text" name="class_name" maxlength="15" required="" id="id_class_name">
        </div>
        <div class="field-input">
            <label class="col-md-3" for="id_description">요약</label> <input class="col-md-9" type="text" name="description" maxlength="13" required="" id="id_description">
        </div>
        <div class="field-input">
            <label class="col-md-3" for="subject">과목</label> <input class="col-md-9" type="text" name="subject" required="" id="id_description">
        </div>
        <div class="field-input">
            <label class="col-md-3" for="id_etc">기타 사항</label> <input class="col-md-9" type="text" name="etc" maxlength="254" id="id_etc">
        </div>

        <div class="field-input">
            <label class="col-md-3">학생 ID</label>
            <input class="col-md-9" type="text"maxlength="150" id="studentNameInput">
            <button id="searchStudentName" type="button">확인</button>
            <div id="studentFormWrapper">

            </div>
            <div id="studentForm" style="display: none;">
                <input readonly class="student-name-input">
                <input class="student-id-input" name="students" style="visibility: hidden;">
                <button class="student-delete-btn" type="button">삭제</button>
            </div>
        </div>

        <div class="field-input">
            <label class="col-md=3">부모님 ID</label>
            <input class="col-md-9" type="text" maxlength="150" id="parentNameInput">
            <button id="searchParentName" type="button">확인</button>
            <div id="parentFormWrapper">

            </div>
            <div id="parentForm" style="display: none">
                <input readonly class="parent-name-input">
                <input class="parent-id-input" name="parents" style="visibility: hidden;">
                <button id="parent-delete-btn" type="button">삭제</button>
            </div>
        </div>

{#        <div class="field-input">#}
{#            <label class="col-md-3" for="id_parent_id">학부모 ID</label> <input class="col-md-9" type="text" name="parent_id" required="" id="id_parent_id">#}
{#        </div>#}
        <div class="row">
            <button type="submit" class="pull-right">제출</button>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('body').on('click', '.student-delete-btn', function () {
               $(this).parent().remove();
            });

            $('#searchStudentName').click(function () {
                var name = $('#studentNameInput').val();
                $.ajax({
                    url: "{% url 'classes:check' %}",
                    data: {
                        "name": name
                    },
                    success: function (data) {
                        var student_id = data['student_id'];

                        var $newStudentForm = $('#studentForm').clone();
                        $newStudentForm.children('.student-name-input').val(name);
                        $newStudentForm.children('.student-id-input').val(student_id);
                        $('#studentNameInput').val('');
                        $('#studentFormWrapper').append($newStudentForm);
                        $newStudentForm.show();

                        $newStudentForm.children('student-delete-btn').click(function () {
                            $(this).parent().remove();
                        });
                    },
                    error: function () {
                        alert('존재하지 않는 학생 ID 입니다.');
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">

    </script>

{% endblock %}